@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;800&display=swap');
body {
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  text-shadow: 0px 1px 2px #ffffff;
  background-color: #efefef;
  overflow-y: scroll;
}
a {
  color: #26a107;
  font-size: 0.75em;
  text-decoration: none;
}
a:hover {
  color: #45940c;
  text-decoration: underline;
}
hr {
  border: 1px dashed #e0e0e0
}
h1{
  margin-top: 2em;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.1em;
}
button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  font-weight: 300;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 2px 2px inset #fff, 0px 1px 1px #e0e0e0;
}
button:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #555555;
}
button:active {
  background-color: #f7f7f7;
  color: #111111;
  box-shadow: 0 1px inset #f7f7f7;
  transform: translateY(1px);
}
input {
  border-radius: 12px;
  border: 0.5px solid #e0e0e0;
  border-bottom: 1px solid #c4c4c4;
  box-shadow: 0px 24px 12px #f7f7f7 inset;
}
#search-input {
  font-size: 1.5em;
  font-family: 'Jost',sans-serif;
  width: 100%;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.search_time {
  margin-top: 12px;
  font-size: 0.75em;
}
.search_text {
  display: flex;
  flex-direction: column;
}
.search_link {
  display: inline;
}
.time_link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 12px;
}
#sorting {
  margin-top: 8px;
  line-height: 1.7em;
  display: inline-block;
}
#sort-button-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5px;
  gap: 5px;
}
.wrapper {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  word-wrap: break-word;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
}
.tweet {
    background-color: #f7f7f7;
    max-width: 600px;
    padding: 16px;
    margin-top: 32px;
    font-family: 'Jost', sans-serif;
    font-size: 1.2em;
    border: 1px solid #dadada;
    border-radius: 16px;
}
.tweet img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  min-height: 90%;
  object-fit: cover;
  align-items: stretch;
}
.tweet video {
  max-height: 100%;
  vertical-align: bottom;
  width: 100%;
}
.tweet ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 2px;
  padding-left: 0px;
  margin-bottom: 0px;
  align-items: stretch;
  border-radius: 4px;
  border: 1px solid #0000001a;
  overflow: hidden;
}
.tweet li {
  height: auto;
  width: 30vh;
  flex-grow: 1;
  align-items: stretch;
}
.tweet .display_name {
  margin-bottom: 0;
  margin-top: 0;
}
.tweet .user_name {
  margin-top: 4px;
}
.tweet .favorite_count {
  display: inline-block;
  margin-bottom: 0;
}
.tweet .retweet_count {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 0;
}
.tweet .created_at {
  margin-bottom: 0;
}
.tweet .permalink {
  margin-left: 16px;
}
.child {
  margin-top: 16px;
  margin-left: 64px;
  max-width: calc(600px - 64px);
  background-color: white;
}
.parent {
  margin-bottom: 16px;
  margin-right: 64px;
  max-width: calc(600px - 64px);
  background-color: white;
}
@media screen and (max-width: 599px) {
  .tweet li {
    height: auto;
    width: 30vh;
    flex-grow: 1;
  }
}
@media(prefers-color-scheme: dark) {
  body {
    background-color: #101010;
    color: #e7e7e7;
    text-shadow: 0px 1px 2px #000000;
  }
  :root {
    color-scheme: dark;
  }
  hr {
    border: 1px dashed #333333;
  }
  .tweet {
    background-color: #1d1d1d;
    border: 1px solid #393939; /*#33ff00;*/
    box-shadow: 0px 2px 0px #000000;
    border-radius: 16px;
  }
  .child {
    background-color: black;
  }
  .parent {
    background-color: black;
  }
  button {
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 12px;
    box-shadow: 0px 1px 0px inset #5f5f5f, 0px 1px 1px #111111;
  }
  button:hover {
    background-color: #222222;
    cursor: pointer;
    box-shadow: 0 1px inset #333333;
    color: #e0e0e0;
  }
  button:active {
    background-color: #222222;
    color: #e0e0e0;
    border: 1px solid #333333;
    transform: translateY(1px);
  }
  input {
    background-color: #111111;
    border: 1px solid #333333;
    color: white;
    border-bottom: 1px solid #5f5f5f;
    box-shadow: 0px -2px 1px #000000 inset;
  }
  .tweet .favorite_count {
    color: #33ff00;
  }
  .tweet .retweet_count {
    color: #33ff00;
  }
  .tweet .created_at {
    color: #33ff00;
  }
  .tab {
    background-color: #111111;
    box-shadow: 0px 1px 0px inset #333333;
  }
  .tab.active {
    background-color: #222222;
  }
}
#tabs {
  margin: -32px 4px 0;
  display: flex;
  gap: 4px;
}
.tab:first-child {
  margin-left: -16px;
}
.hr {
  margin: 0 -16px 16px -16px;
  border: 1px solid #8282821f;
}
@media(prefers-color-scheme: light) {
  .tab {
    box-shadow: 0px -0.5px 0px 1px #dadada, 0px 1px 0px 0px #ffffff inset;
    background-color: #efefef;
  }
  .tab.active {
    background-color: #f7f7f7;
  }
}
.tab {
  border: none;
  font-size: 1.2em;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 16px 16px 0px 0px;
}
.tab.active {
  text-decoration: none;
  margin-top: -8px;
}
#browse-sort > button {
  font-size: 1.0em;
}
#page-num {
  font-size: 1.0em;
  font-family: 'Jost', sans-serif;
  width: 80px;
  padding-left: 0.5em;
}
#browse-sort {
  line-height: 1.7em;
}
#paging {
  margin: 24px 0;
}